h1,h2,h3,h4,h5,h6 {
  margin-bottom: 1rem;
}

p {
  margin-bottom: 2rem;
  line-height: 2;
}

blockquote {
  margin-bottom: 2rem;
  line-height: 2;
  background-color: #EEE;
  padding: 0.5rem 0.5rem 0.5rem 1.5rem;
}
