/* We might be better off using an actual React animation library, but since our animations
 * are relatively simple and because I'm a boomer, we can just do it straight in CSS.
 *
 * No need to pull in a library when we don't need one, right?
 */

.yeet-upwards {
  transform: translateY(20vh);
  animation: yeet-upwards 2.0s forwards;
  animation-delay: 1.1s;
}

.fade-in {
  opacity: 0;
  animation: fade-in 1s forwards;
  animation-delay: 1.1s;
}

.fade-in2 {
  opacity: 0;
  animation: fade-in 1s forwards;
  animation-delay: 2.25s;
}

.fade-now {
  opacity: 0;
  animation: fade-in 0.5s forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes yeet-upwards {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin-left: auto; /* Gives that scrolling effect as the typing happens */
  margin-right: auto; /* Gives that scrolling effect as the typing happens */
  animation:
    typing 1s steps(20, end);
}

/* The typing effect */
@keyframes typing {
  from {
    max-width: 0;
    border-right: .15em solid black; /* The typwriter cursor */
  }
  to {
    max-width: 10em;
    border-right: none;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black; }
}
