/*! purgecss start ignore */
@tailwind base;
@tailwind components;
/*! purgecss end ignore */
@tailwind utilities;

/* Custom font */
@font-face {
  font-family: "Iosevka-CK";
  font-style: normal;
  src: url("/iosevka-ck-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Iosevka-CK";
  font-style: bold;
  src: url("/iosevka-ck-bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Iosevka-CK-Book";
  font-style: normal;
  src: url("/iosevka-ck-book.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Iosevka-CK-Book";
  font-style: italic;
  src: url("/iosevka-ck-book-italic.woff2") format("woff2");
  font-display: swap;
}

.bg-spicy {
  background-color: #202C42;
}

.bg-gray-850 {
  background-color: #222;
}

.big-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.big-link:hover {
  cursor: pointer;
}

.big-link span {
  max-width: 0;
  transition: all 600ms;
  display: inline-block;
  white-space: nowrap;
  vertical-align: center;
  overflow: hidden;
  margin: 0 0.5rem;
}

.big-link:hover span {
  max-width: 10rem;
}

h1 {
  @apply text-3xl;
  @apply text-gray-800;
}

h2 {
  @apply text-2xl;
  @apply text-gray-800;
}

h3 {
  @apply text-xl;
  @apply text-gray-800;
}

h4 {
  @apply text-lg;
  @apply text-gray-800;
}

h5 {
  @apply text-gray-800;
}

h6 {
  @apply text-gray-800;
}

p {
  @apply text-gray-800;
}

@screen lg {
  h1 {
    @apply text-5xl;
  }

  h2 {
    @apply text-4xl;
  }

  h3 {
    @apply text-3xl;
  }

  h4 {
    @apply text-2xl;
  }

  h5 {
    @apply text-xl;
  }

  h6 {
    @apply text-lg;
  }
}

ul {
  @apply list-disc;
  line-height: 2;
  margin-left: 1rem;
}

ol {
  @apply list-decimal;
  line-height: 2;
  margin-left: 1.5rem;
}

li {
  line-height: 2.25;
  margin-bottom: 0.75rem;
}

pre,code {
  padding: 0.5rem !important;
  background-color: #EEE !important;
}
